
/*  ---index.html---  */
body{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

.background{
    background-image: url("/img/Mustafa_Kemal_Ataturk.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;

}

.navbar{
    padding: 5px;
    background-color: #111111;
    border-bottom: 2px solid white;
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin: 25px;
}

.container{
    height: 100vh;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    gap: 25px;

}


.leftContent p, .rightContent p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    padding: 50px;
}

/*  ---Info.html---  */

.containerInfo{
    background-color: #F4EAE0;
}

.containerInfo p{
    margin: 0;
    padding: 0;
}

.containerContent{
    padding: 25px;
}

.title h2{
    padding: 0;
    margin: 0;
}

.contentDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
    align-items: start; 
    /* box-sizing: border-box; */
    
}

.contentInfo {
    border: 1px solid black;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    /* flex-direction: column; */
}

.contentDisplay p, img{
    padding: 50px;
}
.contentInfo img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 5px;
}

/*  ---Books.html---  */

.containerBooks{
    height: 100vh;
    background-color: #F4EAE0;
    padding: 25px;
}

.contentBooks{
    border: 1px solid black;
    margin: 25px;
}

.title h3{
    padding: 0;
    margin: 0;
    font-size: 25px;
}


.contentBooks .list{
    text-align: left;
    justify-content: center;
    justify-items: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 768px) {
    .contentDisplay {
        grid-template-columns: 1fr; 
        gap: 15px;
        padding:25px;
    }
    .contentInfo {
        width: 100%; 
        padding: 10px;
    }
}






