.section-content .card-text{
    font-size: 12px;
    font-weight: 800;
}

.section-content .card-text i{
    width: 18px;
    height: 18px;
}
.section-content .card-text:first-child{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.card{
    width: 18rem;
}